
@{
    ViewData["Title"] = "Index";
}

<center>
    <h1>DynamoDB Operation Example: </h1>
    <br /><hr /><br />
    <a asp-action="AddItem" asp-controller="DynamoDBExample">
        Add Item to DynamoDB Table
    </a>
    &nbsp;&nbsp;&nbsp;
    <a asp-action="ViewItem" asp-controller="DynamoDBExample">List All Items From DynamoDB</a>
    &nbsp;&nbsp;&nbsp;
    <a asp-action="DeleteItem" asp-controller="DynamoDBExample">Delete Item from DynamoDB</a>
    &nbsp;&nbsp;&nbsp;
</center>


