
@{
    ViewData["Title"] = "Reserve";
}

<center>
    <h1>Thank you for your reservation</h1>
    <p>Our crew will be contacting you as soon as possible</p>
    <p>If you unable to get any contact from us, kindly call us and provide us your below reserved ID for follow up purposes
        <br /><b>ReserveID: </b>@ViewBag.reserveID
    </p>
    <form asp-action="ProcessPayment" asp-controller="Reservation">
        <button type="submit" class="btn-dark">
            proceed to payment 
        </button>
    </form>
</center>

