@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:red">Welcome to Bicycle Rental Service </h1>
    <div class="list-of-bicycle" style="border:solid 1px black">
        here put the list
    </div>
</div>
