@model Bike

@{
    ViewData["Title"] = "Add New Bicycle";
}

<center>
    <h1>Add New Bicycles Page:</h1>
    <br /><hr /><br />

    
    <form method="post" enctype="multipart/form-data">
        <table border="1">
            <tr>
                <th><label asp-for="BikeName"></label></th>
                <td><input asp-for="BikeName" /></td>
                <td><span asp-validation-for="BikeName"></span></td>
            </tr>
            <tr>
                <th><label asp-for="BikeType"></label></th>
                <td><input asp-for="BikeType" /></td>
                <td><span asp-validation-for="BikeType"></span></td>
            </tr>
            <tr>
                <th><label asp-for="BikeProducedDate"></label></th>
                <td><input asp-for="BikeProducedDate" /></td>
                <td><span asp-validation-for="BikeProducedDate"></span></td>
            </tr>
            <tr>
                <th><label asp-for="BikePrice"></label></th>
                <td><input asp-for="BikePrice" /></td>
                <td><span asp-validation-for="BikePrice"></span></td>
            </tr>
            <tr>
                <th><label for="imagefile">Choose your image here:</label></th>
                <td><input type="file" name="imagefile" id="imagefile" accept="image/*" /></td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <input type="submit" name="submit" value="Add Bicycle" />
                </td>
            </tr>
        </table>
    </form>
</center>
