
@{
    ViewData["Title"] = "broadcastmsg";
}

<center>
    <h1>Your email already delivered to your customer!</h1>
    <p>You can now ask your customer to check their email</p>
    <form asp-action="Index" asp-controller="EmailSubscribe">
        <button type="submit" class="btn-info">Back to previous!</button>
    </form>
</center>


